{% extends 'Code20DepotBundle:Default:layout.html.twig' %}

{% block content %}
    
     <div class="col-lg-6">
        <h1>Edit product</h1> 
        
        {{ form(form, {'attr': {'novalidate': 'novalidate'}})  }}

     </div>
    
{% endblock %}