{% extends 'Code20DepotBundle:Default:layout.html.twig' %}
        
{% block content %}
    <div class="col-lg-12">
        <h1>Products</h1>
    </div>

    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price | depot_price }}</td>
                        </td>
                        <td><a href="{{ path('admin_products_edit', { 'id': product.id }) }}">Edit</a></td>
                        <td><a href="{{ path('admin_products_delete', { 'id': product.id }) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>

    <div class="col-lg-12">
        <a href="{{ path('admin_products_new') }}"><button type="button" class="btn btn-default">New product</button></a>
    </div>         
    
{% endblock %}