{% extends 'Code20DepotBundle:Default:layout.html.twig' %}
        
{% block content %}
    
    {% if error %}
        
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">{{ error.message }}</div>
        </div>
        
    {% endif %}

    <div class="col-lg-4 col-lg-offset-4">
        <form action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="_password" />
            </div>
            
            <button class="btn btn-default"  type="submit">Login</button>
        </form>
    </div>
    
{% endblock %}