<!DOCTYPE HTML>
<html>
    <head>
        <title>Code 2.0 depot</title>
        <meta charset="UTF-8" />
        
        <link rel="stylesheet" href="{{ asset("external-libs/bootstrap-3.2.0-dist/css/bootstrap.css") }}">
        <script src="{{ asset("external-libs/bootstrap-3.2.0-dist/js/bootstrap.min.js") }}"></script>
        
    </head>
    
    <body>
        
         <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('admin_products') }}">Products</a></li>
                        <li><a href="{{ path('admin_orders') }}">Orders</a></li>
                    </ul>
                    
                    {% if app.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    </ul>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="col-lg-12">
                <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        
        {% block content %}
                
        {% endblock %}
        
    </body>
</html>