<!DOCTYPE HTML>
<html>
    <head>
        <title>Code 2.0 depot</title>
        <meta charset="UTF-8" />
        
        <link rel="stylesheet" href="{{ asset("external-libs/bootstrap-3.2.0-dist/css/bootstrap.min.css") }}">
        <script src="{{ asset("external-libs/bootstrap-3.2.0-dist/js/bootstrap.min.js") }}"></script>
        
    </head>
    
    <body>
        
        <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Depot 2.0</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% if menuSelected == 'products'%}active{% endif %}"><a href="{{ path('products') }}">Products</a></li>
                        <li class="{% if menuSelected == 'aboutUs'%}active{% endif %}"><a href="{{ path('aboutus') }}">About us</a></li>
                    </ul>
      
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if menuSelected == 'myCart'%}active{% endif %}"><a href="{{ path('cart') }}">My cart</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="col-lg-12">
                <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        
        {% block content %}
                
        {% endblock %}
        
    </body>
</html>