{% extends 'Code20DepotBundle:Default:layout.html.twig' %}
        
{% block content %}
    <div class="col-lg-12">
        <h1>Products</h1>
    </div>

    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Adres</th>
                    <th>Telefon</th>
                    <th>E-mail</th>
                    <th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.name }} {{ order.surname }}</td>
                        <td>
                            {{ order.street }} {{ order.buildingNumber }} / {{ order.flatNumber }}<br/>
                            {{ order.postalCode }} {{ order.city }}
                        </td>
                        <td>
                            {{ order.phoneNumber }}
                        </td>
                        <td>
                            {{ order.email }}
                        </td>
                        <td>Details (to do)</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>     
    
{% endblock %}