{% extends 'Code20DepotBundle:Default:layout_shop.html.twig' %}
        
{% set menuSelected = 'homepage' %}

{% block content %}
    
<div class="jumbotron">
    <h1>Welcome to our depot!</h1>
    <p>We are the cheapest!</p>
    <p>We have the highest quality!</p>
    <p>We have best support!</p>
    <p>We are THE BEST!</p>
    <p>Team</p>
</div>

{% endblock %}