{% extends 'Code20DepotBundle:Default:layout_shop.html.twig' %}
        
{% set menuSelected = 'myCart' %}

{% block content %}
    
    <div class="col-lg-10 col-lg-offset-1">
        <h1>My cart</h1>
    </div>
    
    {% if lineItems | length == 0 %}
    <div class="col-lg-10 col-lg-offset-1">
        We are sad :-( How could you not buy anything yet?
    </div>
    {% else %}

    <table class="table col-lg-10 col-lg-offset-1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit price</th>
                <th>Quantity</th>
                <th>Total price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for lineItem in lineItems %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ lineItem.product.name }}</td>
                <td>{{ lineItem.product.price }}</td>
                <td>{{ lineItem.quantity }}</td>
                <td>{{ (lineItem.quantity * lineItem.product.price) | depot_price }}</td>
                {% set total = total + (lineItem.quantity * lineItem.product.price) %}
                <td>
                    <a href="{{ path('cart_delete_lineitem', { 'lineItemId' : lineItem.id }) }}" >
                        <button type="button" class="btn btn-primary">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><strong>{{ total | depot_price }}</strong></th>
                <th>
                    <a href="{{ path('cart_order') }}" >
                        <button type="button" class="btn btn-primary">Order</button>
                    </a>
                </th>
            </tr>
        </tfoot>
    </table>

    {% endif %}

{% endblock %}