{% extends 'Code20DepotBundle:Default:layout_shop.html.twig' %}
        
{% set menuSelected = 'homepage' %}

{% block content %}
    
<div class="jumbotron">
    <h1>Welcome to our depot!</h1>
    <p>Highest quality and smallest prices!</p>
    <p><a href="{{ path('products') }}" class="btn btn-primary btn-lg" role="button">I want to see what you got!</a></p>
</div>

{% endblock %}