{% extends 'Code20DepotBundle:Default:layout_shop.html.twig' %}
        
{% set menuSelected = 'myCart' %}

{% block content %}
    
    <div class="col-lg-11 col-lg-offset-1">
        <h1>Order</h1>
    </div>
        
    <div class="col-lg-6 col-lg-offset-1">
        <h2>Shipment data</h2>
        
        {{ form(form, {'attr': {'novalidate': 'novalidate'}})  }}
        
    </div>
        
    <div class="col-lg-4">
        <h2>Summary</h2>
        
        {% set total = 0 %}
        <ul>
        {% for lineItem in lineItems %}
            <li>{{ lineItem.product.name }} ({{ lineItem.product.price | depot_price }} x{{ lineItem.quantity }})</li>
            {% set total = total + (lineItem.quantity * lineItem.product.price) %}
        {% endfor %}
        </ul>
        <p>Total: <strong>{{ total | depot_price }}</strong></p>
        
    </div>
    
{% endblock %}