{% extends 'Code20DepotBundle:Default:layout_shop.html.twig' %}
        
{% set menuSelected = 'products' %}

{% block content %}
    
    <div class="col-lg-10 col-lg-offset-1">
        <h1>Products</h1>
    </div>
    
    {% set even = true %}
    {% for product in products %}
        
            <div class="col-lg-10 col-lg-offset-1" {% if even %}style="background-color: #eee"{% endif %}>

                <h3>{{ product.name }}</h3>
                <h4>{{ product.price | depot_price }}</h4>
                <p>{{ product.description }}</p>
                <a href="{{ path('cart_add_lineitem', { 'productId' : product.id }) }}" ><button type="button" class="btn btn-primary">Buy</button></a>
                <p></p>
            </div>
            
        {% set even = not even %}
    {% endfor %}

{% endblock %}